# FRONTEND URL
# Local dev: http://localhost:3000
# Production: https://lafflab-frontend-production.up.railway.app
NEXT_PUBLIC_SITE_URL=

# BACKEND URL
# Local dev: http://localhost:8080
# Production: https://universal-core-backend-production.up.railway.app
NEXT_PUBLIC_API_BASE_URL=

# Email provider (Resend)
RESEND_API_KEY=

# Database connection string
DATABASE_URL=
